{
  "cniVersion": "0.4.0",
  "name": "coredns",
  "plugins": [
    {
      "type": "macvlan",
      "mode": "bridge",
      "master": "br5",
      "mac": "00:1c:b4:22:33:44",
      "ipam": {
        "type": "static",
        "addresses": [
          {
            "address": "10.0.5.53/24",
            "gateway": "10.0.5.1"
          }
        ],
        "routes": [
          {
            "dst": "0.0.0.0/0"
          }
        ]
      }
    }
  ]
}
