(common) {
  errors
  log
  reload
  loadbalance
  cache 300
  loop
  local
  prometheus :9153
}

. {
  import common
  k8s_gateway {{ SECRET_PUBLIC_DOMAIN }} {
    resources Ingress
    ttl 1
    kubeconfig /config/kubeconfig
    fallthrough
  }
  forward . tls://1.1.1.1 tls://1.0.0.1 {
    tls_servername cloudflare-dns.com
  }
}
