.decrypted~*
.DS_Store
.logs/
.private/
.task/
.temp*
.terraform
.terraform.tfstate*
*.agekey
*.iso
*.key
*.pem
*.pid
*.pub
*.tfvars
config.xml
geerlingguy.docker*
geerlingguy.pip*
github-deploy-key
init.md
kubeconfig*
kubernetes/schemas
mrlesmithjr.zfs*
node_modules
package-lock.json
report.html
talosconfig*
terraform.tfstate*
Thumbs.db
xanmanning.k3s*
