---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # # Flux-Kustomizations
  - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./kubernetes-dashboard/ks.yaml
  - ./loki/ks.yaml
  - ./node-exporter/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./thanos/ks.yaml
  - ./vector/ks.yaml
  # - ./unpoller/ks.yaml