#!/usr/bin/env sh

DEBUG=${DEBUG:--d}
CONTAINER_NAME="adguardhome"

if podman container exists ${CONTAINER_NAME}; then
  podman start ${CONTAINER_NAME}
else
  podman run -d --network dns --restart always  \
    --name $CONTAINER_NAME \
    -v "/mnt/data/adguardhome-confdir/:/opt/adguardhome/conf/" \
    -v "/mnt/data/adguardhome-workdir/:/opt/adguardhome/work/" \
    --dns=127.0.0.1 --dns=1.1.1.1 \
    --hostname adguardhome \
    adguard/adguardhome:latest
fi
